body {
    text-align: center;
    padding: 100px;
}

/* #submit {
    background-color: blue;
    color: antiquewhite;
    border-style: none;
    font-size: 15px;

    border-radius: 20px;
    padding: 10px;
} */

input {
    outline: none;
}